{% extends 'layout.twig' %}

{% block body %}
	<h1>{{ post.title }}</h1>
	<div class="bg-light p-2">
		<p>{{ post.content }}</p>
	</div>
	{% if user %}
		<strong>
			<span>Author :
				{{ user.firstname }}
				{{ user.lastname }}
			</span>
		</strong>
	{% else %}
		<strong>
			<span>/!\ There is no user for this post</span>
		</strong>
	{% endif %}
{% endblock %}
